# NW GMSA

## pymupdf

In [36]:
import pymupdf # imports the pymupdf library

pdf_file = "PDF/R24-00BX-1.pdf"
doc = pymupdf.open(pdf_file)

html_text = ""
all_text = ""
for page in doc:  # iterate the document pages
    page.read_contents()
    html_text += page.get_text('html', clip = None)
    all_text += page.get_text('text', clip = None)

with open("nw-gmsa-pymupfd.html", "wb", ) as f:
    f.write(html_text.encode("utf-8"))
with open("nw-gmsa-pymupfd.txt", "wb", ) as f:
    f.write(all_text.encode("utf-8"))

## PyPDF2

In [37]:
from PyPDF2 import PdfReader

pdf_object = PdfReader(pdf_file)
all_text = ""
for page in pdf_object.pages:
    all_text += page.extract_text() + "\n"
with open("nw-gmsa-PyPDF2.txt", "wb", ) as f:
    f.write(all_text.encode("utf-8"))

## tabula

In [38]:
import tabula

dfs = tabula.read_pdf(pdf_file, pages="all", stream=True, encoding='cp1252')
tabula.environment_info()
print(len(dfs))

Python version:
    3.13.3 (v3.13.3:6280bb54784, Apr  8 2025, 10:47:54) [Clang 15.0.0 (clang-1500.3.9.4)]
Java version:
    openjdk version "20.0.2" 2023-07-18
OpenJDK Runtime Environment (build 20.0.2+9-78)
OpenJDK 64-Bit Server VM (build 20.0.2+9-78, mixed mode, sharing)
tabula-py version: 2.10.0
platform: macOS-15.5-x86_64-i386-64bit-Mach-O
uname:
    uname_result(system='Darwin', node='Freya.local', release='24.5.0', version='Darwin Kernel Version 24.5.0: Tue Apr 22 19:53:26 PDT 2025; root:xnu-11417.121.6~2/RELEASE_X86_64', machine='x86_64')
linux_distribution: ('Darwin', '24.5.0', '')
mac_ver: ('15.5', ('', '', ''), 'x86_64')
2

In [39]:
dfs[0]

,Forename:,Geneticsthree,Report No:,R24-00BX-1,Unnamed: 0,Unnamed: 1
0,Surname:,BEAKER,Hospital No:,Not provided,NaN,NaN
1,Sex:,Male,Other No:,Not provided,NaN,NaN
2,DoB:,01/01/1970,Sample:,DNA (External),NaN,NaN
3,NHS No:,NaN,NaN,NaN,NaN,NaN
4,Hive Order ID:,1000104558,NaN,NaN,NaN,NaN
5,Collected:,Not provided,Received:,03/06/2024 12:12,Activated:,03/06/2024

In [40]:
dfs[1]

,HGVS description: NM_001320.6(CSNK2B):c.256C>T p.(Arg86Cys),Classification: Likely pathogenic
0,Genomic coordinates: Chr6(GRCh38):g.31668619C>T,Zygosity: Heterozygous Inheritance: de novo